<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSyMmIqxEiMQy8sMMeHpQTTw9bfnEIPC4</string>
	<key>GCM_SENDER_ID</key>
	<string>852025725267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amobi.drinkwater.drinkWater</string>
	<key>PROJECT_ID</key>
	<string>drink-water-1d8a1</string>
	<key>STORAGE_BUCKET</key>
	<string>drink-water-1d8a1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852025725267:ios:01c98b4130ee58b22a91a6</string>
</dict>
</plist>